#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/pkg-info.mk

# Used by debian/libndpi-wireshark.{install,links}. Evaluated when referenced.
WIRESHARK_PLUGINDIR = $(shell pkg-config --variable=plugindir wireshark)
export WIRESHARK_PLUGINDIR

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- --prefix=/usr

override_dh_auto_install:
	dh_auto_install
	rm $(CURDIR)/debian/tmp/usr/share/ndpi/*.txt

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	# disable tests with a broken pcap file
	rm -f tests/pcap/nintendo.pcap
	rm -f tests/pcap/skype-conference-call.pcap
	# disable tests that have inconsistent behavior across architecture due
	# to broken sorting in the test code
	rm -f tests/pcap/skype.pcap
	rm -f tests/pcap/skype_no_unknown.pcap
	rm -f tests/pcap/1kxun.pcap
	rm -f tests/pcap/quic_q50.pcap
	rm -f tests/pcap/quic_t50.pcap
	rm -f tests/pcap/quic_t51.pcap
	rm -f tests/pcap/quic-mvfst-exp.pcap
	rm -f tests/pcap/quic-mvfst-27.pcap
	rm -f tests/pcap/quic-mvfst-22.pcap
	rm -f tests/pcap/quic-23.pcap
	rm -f tests/pcap/quic-24.pcap
	rm -f tests/pcap/quic-27.pcap
	rm -f tests/pcap/quic-28.pcap
	rm -f tests/pcap/quic-29.pcap
	rm -f tests/pcap/gquic.pcap
	rm -f tests/pcap/dnscrypt.pcap
	rm -f tests/pcap/exe_download.pcap
	rm -f tests/pcap/ftp_failed.pcap
	rm -f tests/pcap/fuzz-2006-06-26-2594.pcap
	rm -f tests/pcap/msnms.pcap
	rm -f tests/pcap/quic-mvfst-exp.pcap
	cd tests && LD_LIBRARY_PATH=$(CURDIR)/src/lib ./do.sh
endif

override_dh_strip:
	dh_strip --dbgsym-migration='libndpi-dbg (<< 1.8-1~)'


#override_dh_shlibdeps:
#	dh_shlibdeps -l$(CURDIR)/src/lib --dpkg-shlibdeps-params=--ignore-missing-info


.PHONY: override_dh_auto_configure override_dh_strip
